{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ]
  },
  "globals": {
    "getCurrentPages": true,
    "wx": true,
    "App": true,
    "Component": true,
    "Page": true
  },
  "parser": "babel-eslint"
}
